{% extends 'esqueleto.html' %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'estilotransferencia.css' %}">
<div id="formulario">
<form>
<p>Cuenta a eliminar: 
	<select id ="cuentasterceros">
	<option value ="1" selected>Aqui van todas la cuentas </option>	
	</select>
</p>
<p>Escribe la palabra CONFIRMAR:</p>
<p> <input type="text" ></p>
	
<p><input type="submit" value="Eliminar cuenta"></p>
</form>
<p><button onclick="location.href='http://localhost:8000/transferencia/'">Regresar</button></p>
</div>
{% endblock %}