<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'esqueleto.css' %}">
</head>
<body>
	<header> 
		<h1>Banca en Linea Banco El Ahorro </h1> 
		<div id="logo"><img src="{% static 'img/logo1.png' %}" width="200px" height="90px" align="center"></div>
		<nav>
			<a href="http://localhost:8000/inicio/">Inicio</a>
			<a href="http://localhost:8000/transferencia/">Transferencias</a>
			<a href="http://localhost:8000/pagosc/">Pagos</a>
			<a href="http://localhost:8000/gestiones/">Gestiones</a>
			<a href="#">Consultas</a>


		</nav>
	</header>
		{% block content %}
		{% endblock %}
</body>

</html>