{% extends 'esqueleto.html' %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'estilopagos1.css' %}">
<div id="formulario">
<form>
<p>Cuenta con la que se desea pagar: 
	<select id ="tipopago">
	<option value ="1" selected>Aquí van las cuentas disponibles </option>	
	</select>
</p>
<input type="submit" value="Pagar planilla">
<p><input type="button" onclick="location.href='http://localhost:8000/addplan/'" Value="Añadir cuenta a planilla">
	
</form>
<p><button onclick="location.href='http://localhost:8000/pagose/'">Regresar</button></p>
</div>

{% endblock %}