#texto{
	background-color: #D3460D;
	position: relative;
	text-align: center;
}

#contenedor{
	width:400px;
	background: #A72D23;
	padding: 20px;
	margin:auto;
	margin-top:100px;
	border-radius: 4px;
	color:white;

}